@import 'material-icons/iconfont/material-icons.css';/* You can add global styles to this file, and also import other style files */

 .my-snackbar {
    position: fixed !important;
    bottom : 10px !important;
    left: 0px !important;
}
